.song-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 400px;

  &-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
  }

  &-content {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.search-container {
  width: max-content;
}

@mixin external-button($accent-color, $bg-color) {
  display: block;
  text-decoration: none;
  color: $accent-color;
  background-color: $bg-color;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid $accent-color;
  margin-bottom: 10px;
  width: max-content;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(90%);
  }

  div {
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

}

.fretmap {
  @include external-button(#cc4b00, #ffe2a0)
}

.hooktheory {
  @include external-button(#4f9fd2, #ffffff)
}

