.song-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px; // Optional: adjust according to your layout

  &-image {
    width: 100px; // Adjust width of the image
    height: auto;
    margin-right: 20px; // Adjust spacing between image and content
  }

  &-content {
    flex-grow: 1;
  }
}

.search-container {
  width: max-content;
}