$background-color: #0094d4;
$base-font-size: 16px;

body {
  background-color: $background-color;
  color: white;
  font-family: sans-serif;
  font-size: $base-font-size;
}

img {
  border-radius: 1.25rem;
}

.song-card {
  display: flex;
  align-items: center;
  background-color: desaturate(lighten($background-color, 30%), 30%);
  border: 1px solid darken($background-color, 20%);
  border-radius: 0.5rem;
  padding: 0.625rem;
  width: 25rem;

  &-image {
    width: 6.25rem;
    height: auto;
    margin-right: 1.25rem;
    border-radius: 0.5rem;
  }

  &-content {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.search-container {
  width: max-content;
}

.external-button {
  display: block;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid;
  margin-bottom: 0.625rem;
  width: max-content;
  text-align: center;
  font-weight: bold;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(90%);
  }

  div {
    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
